@import '_vars';
@import '_global';

// start header
.container__fluid{
    max-width: 1500px;
    margin: 0 auto;
}
.header{
    background-image: url(../images/Background.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    height: 900px;
}
.header__top{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.header__btn{
    a{
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        padding: 10px 25px;
        border: 1px solid rgba(117, 190, 218, 0.0);
        border-radius: 5px;
        &:hover{
            border: 1px solid #ffffff;
            border-radius: 5px;
        }
    }
}
.header__title{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 20px;
}
.header__text{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 90px;
}
.header__form{
    position: relative;
    input{
        border: none;
        display: block;
        width: 770px;
        height: 60px;
        padding-left: 30px;
        padding-right: 240px;
        font-size: 14px;
        color: #717171;
        margin: 0 auto;
        border-radius: 3px;
        outline: none;
        &::placeholder{
            color: #717171;
        }
    }
    button{
        position: absolute;
        top: 0;
        right: 0px;
        background-color: $red;
        border: none;
        height: 60px;
        width: 200px;
        cursor: pointer;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        padding-left: 25px;
        padding-top: 7px;
        border-radius: 3px;
        outline: none;
        &::before{
            content: '';
            position: absolute;
            background-image: url(../images/sailboat.png);
            height: 30px;
            width: 30px;
            background-repeat: no-repeat;
            background-position: 0 0;
            left: 40px;
            top: 23px;
        }
    }
}
// end header
// start statistic
.statistic{
    position: relative;
    &__items{
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 0px 30px 0px rgba(52, 52, 52, 0.15);
        background-color: #fff;
        position: absolute;
        top: -70px;
        border-radius: 5px;
        margin-bottom: 100px;
        li{
            width: 300px;
            text-align: center;
            height: 80px;
            margin: 30px 0px 30px;
            padding-top: 5px;
        }
    }
    &__number{
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 10px;
    }
    &__text{
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        color: #717171;
    }
}
li + li{
    border-left: 1px solid #d4d4d4;
}

// end statistic
// start top
.top{
    margin-top: 200px;
    a{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: #343434;
        margin: 100px 360px 80px;
        border: 1px solid #bdbdbd;
        padding: 20px 50px;
        border-radius: 3px;
        background-color: #fff;
        text-transform: uppercase;
        transition: all .3s;
        &:hover{
            color: #fff;
            background-color: $red;
        }
    }
}
.top__items{
    &-position{
        width: 725px;
        height: 350px;
        border-radius: 5px;
        &-two{
            width: 350px;
            height: 350px;
            border-radius: 5px;
        }
        &-tree{
            width: 350px;
            height: 350px;
            margin-top: 30px;
            border-radius: 5px;
        }
        &-four{
            width: 350px;
            height: 350px;
            margin-top: 30px;
            border-radius: 5px;
        }
        &-five{
            width: 350px;
            height: 350px;
            margin-top: 30px;
            border-radius: 5px;
        }
    }
    &-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-boats{
        position: relative;
        background-color: $red;
        width: 70px;
        height: 30px;
        border-radius: 3px;
        padding: 7px 35px;
        color: #fff;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        margin: 30px 20px;
        &::before{
            content: '';
            position: absolute;
            background-image: url(../images/sailboat.png);
            height: 30px;
            width: 30px;
            background-repeat: no-repeat;
            background-position: 0 0;
            left: 10px;
            top: 6px;
        }
    }
    &-title{
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        padding: 180px 20px 5px;
    }
    &-text{
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        padding-left: 20px;
    }
}


// end top
// start own-boat
.own-boat{
    background-image: url(../images/Background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    text-align: center;
    
    color: #fff;
    &__title{
        font-size: 72px;
        font-weight: 700;
        padding-top: 200px;
        font-family: 'Roboto', sans-serif;
    }
    &__text{
        text-transform: uppercase;
        font-size: 30px;
        font-family: 'Open Sans', sans-serif;
        padding-top: 10px;
    }
    a{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: #343434;
        margin: 100px 380px 80px;
        border: 1px solid #bdbdbd;
        padding: 20px 50px;
        border-radius: 3px;
        background-color: $red;
        border: none;
        transition: all .3s;
        &:hover{
            color: $red;
            background-color: #fff;
        }
    }
}

// end own-boat
// start featured
.featured{
    a{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: #343434;
        margin: 100px 380px 80px;
        border: 1px solid #bdbdbd;
        padding: 20px 50px;
        border-radius: 3px;
        background-color: #fff;
        text-transform: uppercase;
        transition: all .3s;
        &:hover{
            color: #fff;
            background-color: $red;
        }
    }
}
.featured__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    &-inner{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        width: 535px;
        height: 330px;
        border-radius: 3px;
        margin-bottom: 30px;
    }
    &-price{
        width: 100px;
        height: 40px;
        background-color: $red;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        padding: 10px 10px;
        margin: 30px 30px 180px;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
    }
    &-name{
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        margin-left: 25px;
        color: #fff;
        margin-bottom: 10px;
    }
    &-location{
        position: relative;
        display: flex;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        margin-left: 25px;
        &-map{
            margin-left: 20px;
        }
        &-map::before{
            content: '';
            position: absolute;
            background-image: url(../images/map-marker.png);
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            left: 0;
        }
    }
    &-location{
        &-berths{
            margin-left: 30px;
        }
        &-berths::before{
            content: '';
            position: absolute;
            background-image: url(../images/account-multiple.png);
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            left: 10;
        }
    }
}

// end featured
// start footer
.footer{
    background-color: #404040;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 60px 0px 70px;
    }
    &__title{
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 30px;
    }
    &__col{
        max-width: 160px;
        a{
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            margin-bottom: 20px;
        }
    }
    &__social{
        display: flex;
        a{
            padding-right: 20px;
            margin-top: 40px;
        }
    }
}
.footer__form{
    width: 400px;
    position: relative;
    input{
        border: none;
        border-radius: 3px;
        background-color: #fff;
        width: 100%;
        height: 40px;
        color: #000000;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        outline: none;
        padding-left: 20px;
        padding-right: 150px;
        &::placeholder{
            color: #717171;
        }
    }
    button{
        position: absolute;
        right: 0;
        background-color: $red;
        border: none;
        border-radius: 2px;
        outline: none;
        height: 40px;
        width: 140px;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
    }
}

// end footer
  


@import '_media';